## AnimeReview: MySQL driven Analysis of User Feedback for Anime Ratings.
In the captivating world of anime, a realm where vibrant characters, imaginative worlds, and gripping narratives come to life, there exists a treasure trove of data waiting to be explored. This project delves into the heart of this anime universe, seeking to unravel the intricacies of anime data from the extensive Anime List database.

Anime is more than just animated stories; it's a fusion of art, storytelling, and cultural expression. Just as NASA astronauts embody the dreams of space exploration, the characters and creators of anime represent the dreams and creativity of countless artists and fans around the world. This dataset, brimming with information on titles, rankings, ratings, genres, episode details, and release seasons, holds the key to unveiling the secrets of this dynamic and ever-evolving world.

As the guardian of data in this venture, you are entrusted with a pivotal role. You are the data virtuoso, the one who can extract profound insights from raw information. Your mission is to illuminate the intricate nuances of anime ratings, to decipher the trends and patterns that shape this vibrant landscape, and to investigate the myriad factors that influence how anime is perceived and appreciated by audiences.

This exploration transcends individual shows and characters; it's about comprehending the collective achievements and trends in the world of anime. Your keen analysis of this dataset will reveal the ever-changing landscape of anime, from the genres that capture hearts to the seasons that define when a story is told.

Collaborating closely with the project team, you craft captivating data visualizations that breathe life into the insights you uncover. These visual representations are like windows into the worlds of anime, offering a glimpse into the factors that contribute to an anime's popularity and success, as well as the cultural phenomena that drive the industry.

As the project unfolds, the excitement grows, and the knowledge you unearth becomes a source of inspiration. Anime enthusiasts, creators, and researchers may not see the meticulous work behind the scenes, but they feel its impact in every chart, graph, and revelation.

In the world of anime analysis, you are the unsung hero, the one who helps reveal the extraordinary stories within the frames and narratives. Your dedication to data and your ability to transform it into enlightening insights contribute to the ongoing saga of anime exploration, making every episode and every series that much more extraordinary.

## Module 1
### Task 1: Unveiling the Anime Odyssey.
With the click of a button, the anime dataset comes to life, each row and column a portal to countless stories. As the data loads, the characters and worlds painted by anime creators await their moment of analysis. The screen fills with ratings, titles, and genres, a galaxy of information to be explored. This is the beginning of a grand adventure, where data becomes the key to understanding the tapestry of anime. As the data scientist, you embark on a journey to reveal the hidden gems and trends within this animated universe. The dataset is your map, and the insights you seek are the treasures of the anime realm.

In [1]:
#--- Import Pandas ---
import pandas as pd
#--- Read in dataset ----
df = pd.read_csv("./ratings.csv")
# ---WRITE YOUR CODE FOR TASK 1 ---
#--- Inspect data ---
df

,Title,Genres,Rank,Popularity,Score,Episodes,Episode length,Release Date
0,Kaguya-sama wa Kokurasetai: Ultra Romantic,"Comedy,Suspense",13,404,8.99,12,23 min. per ep.,Spring 2022
1,3-gatsu no Lion 2nd Season,"Drama,Slice of Life",14,533,8.96,22,25 min. per ep.,Fall 2017
2,Gintama Movie 2: Kanketsu-hen - Yorozuya yo Ei...,"Action,Comedy,Sci-Fi",19,939,8.93,1,1 hr. 50 min.,NaN
3,Gintama.,"Action,Comedy,Sci-Fi",12,735,8.99,12,24 min. per ep.,Winter 2017
4,Koe no Katachi,NaN,15,19,8.96,1,2 hr. 10 min.,NaN
...,...,...,...,...,...,...,...,...
20338,Steins;Gate,"Drama,Sci-Fi,Suspense",4,13,9.08,24,24 min. per ep.,Spring 2011
20339,High Score,"Comedy,Slice of Life",10527,6095,5.58,8,3 min. per ep.,Fall 2011
20340,Noraneko,NaN,8706,5064,6.04,1,35 sec.,NaN
20341,"Suki de Suki de, Suki de The Animation",NaN,/A,5329,6.81,2,27 min. per ep.,NaN
20342,Koihime†Musou OVA Omake,"Adventure,Comedy,Fantasy,Ecchi",8328,10052,6.12,1,12 min.,NaN

### Task 2: Navigating the Data Abyss.
As the data scientist delves deeper into the anime dataset, a new quest emerges—to uncover the enigmatic null values. With a few lines of code, the landscape of missing information begins to take shape. Each null value represents a mystery, a missing piece of the anime puzzle waiting to be solved. In this journey, the data virtuoso's mission is clear: to understand the gaps in the data, revealing where insights are yet to be found. The null values are not roadblocks; they are invitations to further exploration, guiding the way to a more complete understanding of the anime universe.

In [2]:
# --- WRITE YOUR CODE FOR TASK 2 ---
null_values = df.isnull().sum()
#--- Inspect data ---
 
null_values

Title                 0
Genres            10327
Rank                  0
Popularity            0
Score              6324
Episodes              0
Episode length        0
Release Date      15256
dtype: int64

### Task 3: Refining the Anime Constellation.
In the quest to enhance the anime dataset, the data virtuoso works their magic. With astute data manipulation, missing genres, scores, and release dates are given new life. The anime landscape becomes more vibrant and cohesive as genres find their place, scores harmonize, and release dates align. Data is not just a static canvas; it's a living tapestry that gains depth and completeness under the skilled hand of the data scientist. With these transformations, the anime dataset is a step closer to revealing its full splendor, where every anime's essence shines with clarity and precision.

In [10]:
#--- WRITE YOUR CODE FOR TASK 3 ---
df['Genres'].fillna(method ='ffill' , inplace=True)
df['Release Date'].fillna(method ='ffill' , inplace=True)
mean_score = df['Score'].mean()
df['Score'].fillna(round(mean_score, 2), inplace=True)
df
#--- Inspect data ---

,Title,Genres,Rank,Popularity,Score,Episodes,Episode length,Release Date
0,Kaguya-sama wa Kokurasetai: Ultra Romantic,"Comedy,Suspense",13,404,8.99,12,23 min. per ep.,Spring 2022
1,3-gatsu no Lion 2nd Season,"Drama,Slice of Life",14,533,8.96,22,25 min. per ep.,Fall 2017
2,Gintama Movie 2: Kanketsu-hen - Yorozuya yo Ei...,"Action,Comedy,Sci-Fi",19,939,8.93,1,1 hr. 50 min.,Fall 2017
3,Gintama.,"Action,Comedy,Sci-Fi",12,735,8.99,12,24 min. per ep.,Winter 2017
4,Koe no Katachi,"Action,Comedy,Sci-Fi",15,19,8.96,1,2 hr. 10 min.,Winter 2017
...,...,...,...,...,...,...,...,...
20338,Steins;Gate,"Drama,Sci-Fi,Suspense",4,13,9.08,24,24 min. per ep.,Spring 2011
20339,High Score,"Comedy,Slice of Life",10527,6095,5.58,8,3 min. per ep.,Fall 2011
20340,Noraneko,"Comedy,Slice of Life",8706,5064,6.04,1,35 sec.,Fall 2011
20341,"Suki de Suki de, Suki de The Animation","Comedy,Slice of Life",/A,5329,6.81,2,27 min. per ep.,Fall 2011
20342,Koihime†Musou OVA Omake,"Adventure,Comedy,Fantasy,Ecchi",8328,10052,6.12,1,12 min.,Fall 2011

### Task 4: Preserving the Anime Chronicles.
With the final flourish, the data virtuoso encapsulates the enriched anime dataset into a new artifact - 'anime.csv.' This digital tome holds within it the culmination of exploration, analysis, and refinement. It's a testament to the dedication and expertise of the data scientist, ensuring that the insights and revelations are not lost but perpetuated for others to uncover. 'anime.csv' is more than a file; it's a time capsule, preserving the evolving tales of anime for future researchers, enthusiasts, and dreamers. The data scientist's work endures, a legacy that continues to inspire and guide those who seek to navigate the boundless world of anime.

In [11]:
# ...WRITE YOUR CODE FOR TASK 4 ...
#export the cleaned data
df.to_csv('anime.csv', index=False)

#--- Inspect data ---


### Task 5: Data Download, Import, and Database Connection.

In [1]:
# -- Load the sql extention ----
# Replace special characters in the password with their percent-encoded values
password = "Cab#22se"

# Construct the connection URL with the encoded password
connection_url = f"mysql+pymysql://b45154a3:{password}@localhost/b45154a3"

# Load the sql extension and connect to the MySQL database
%load_ext sql
%sql $connection_url

'Connected: b45154a3@b45154a3'

## Module 2
### Task 1: Counting the Anime Stars.
The purpose of crafting the query is to illuminate the extent of our anime dataset, bringing clarity to the scope of this digital realm. By counting the titles, we gain a fundamental understanding of the sheer volume of anime represented. This insight serves as a crucial reference point for further analyses and explorations. It provides a foundation upon which researchers, enthusiasts, and creators can build, offering a starting point for discussions, recommendations, and in-depth examinations of this vast anime universe. This count is not just a number; it's the key to unlocking the potential for deeper insights and the rich tapestry of stories that lie within.

In [4]:
%%sql
SELECT COUNT(`Title`) as total_anime FROM `anime`

 * mysql+pymysql://b45154a3:***@localhost/b45154a3
1 rows affected.

[(20343,)]

### Task 2: The Quest for Anime Excellence.
Our mission transcends data manipulation; it's a journey to honor anime's finest. Sorting titles, ranks, and scores showcases the pinnacle of creativity and storytelling. We do this to celebrate the shows that deeply connect with audiences, fostering inspiration and discussion. This task is about recognizing the exceptional artistry that defines anime, igniting a passionate conversation about the medium's masterpieces. As we unveil the top 10, we pay tribute to the creators who have crafted stories that touch hearts and transcend borders.

In [5]:
%%sql
SELECT`Title`, `Rank`, `Score` FROM anime ORDER BY `Score` DESC LIMIT 10

 * mysql+pymysql://b45154a3:***@localhost/b45154a3
10 rows affected.

[('Fullmetal Alchemist: Brotherhood', '1', Decimal('9.14')),
 ('Shingeki no Kyojin Season 3 Part 2', '3', Decimal('9.08')),
 ('Steins;Gate', '4', Decimal('9.08')),
 ('Spy x Family', '2', Decimal('9.08')),
 ('Gintama°', '5', Decimal('9.08')),
 ('Gintama: The Final', '7', Decimal('9.05')),
 ('Hunter x Hunter (2011)', '8', Decimal('9.05')),
 ("Gintama'", '6', Decimal('9.05')),
 ("Gintama': Enchousen", '10', Decimal('9.04')),
 ('Fruits Basket: The Final', '9', Decimal('9.04'))]

### Task 3: Spotlight on Anime Singularities.
This task isn't merely about sifting data; it's a pursuit to acknowledge anime's singular gems. We select titles, scores, and episode counts to uncover those one-episode wonders that have left a lasting impact. Our aim is to showcase the exceptional quality of anime that can be experienced in a single episode. By celebrating these unique creations, we aim to highlight the diversity and innovation within the medium. This endeavor invites exploration and appreciation of the concise storytelling and artistry that make these short stories stand out in the world of anime.

In [6]:
%%sql
SELECT`Title`, `Score`, `Episodes` from anime where `Episodes` = 1 ORDER BY `Score`DESC LIMIT 10

 * mysql+pymysql://b45154a3:***@localhost/b45154a3
10 rows affected.

[('Gintama: The Final', Decimal('9.05'), '1'),
 ('Koe no Katachi', Decimal('8.96'), '1'),
 ('Violet Evergarden Movie', Decimal('8.95'), '1'),
 ('Gintama Movie 2: Kanketsu-hen - Yorozuya yo Eien Nare', Decimal('8.93'), '1'),
 ('Kimi no Na wa.', Decimal('8.87'), '1'),
 ('Kizumonogatari III: Reiketsu-hen', Decimal('8.80'), '1'),
 ('Sen to Chihiro no Kamikakushi', Decimal('8.78'), '1'),
 ("Fate/stay night Movie: Heaven's Feel - III. Spring Song", Decimal('8.72'), '1'),
 ('Made in Abyss Movie 3: Fukaki Tamashii no Reimei', Decimal('8.68'), '1'),
 ('Mononoke Hime', Decimal('8.68'), '1')]

### Task 4: Championing Multi-Episode Marvels.
Beyond data manipulation, this task celebrates the depth and brilliance of multi-episode anime. We select titles, scores, and episode counts to spotlight the series that have woven intricate narratives and left an enduring impact. Our goal is to recognize the artistry and storytelling prowess that thrives within longer anime series. This endeavor encourages us to appreciate the evolving characters, complex plots, and world-building that these multi-episode marvels offer. As we unveil the top 10, we invite enthusiasts to explore and engage with the expansive stories that have captivated audiences and contributed to the anime landscape's rich tapestry.

In [7]:
%%sql
SELECT`Title`, `Score`, `Episodes` from anime where `Episodes` != 1 ORDER BY `Score`DESC LIMIT 10

 * mysql+pymysql://b45154a3:***@localhost/b45154a3
10 rows affected.

[('Fullmetal Alchemist: Brotherhood', Decimal('9.14'), '64'),
 ('Steins;Gate', Decimal('9.08'), '24'),
 ('Spy x Family', Decimal('9.08'), '12'),
 ('Shingeki no Kyojin Season 3 Part 2', Decimal('9.08'), '10'),
 ('Gintama°', Decimal('9.08'), '51'),
 ('Hunter x Hunter (2011)', Decimal('9.05'), '148'),
 ("Gintama'", Decimal('9.05'), '51'),
 ('Fruits Basket: The Final', Decimal('9.04'), '13'),
 ("Gintama': Enchousen", Decimal('9.04'), '13'),
 ('Ginga Eiyuu Densetsu', Decimal('9.03'), '110')]

### Task 5: Exploring the Anime Frontrunner.
Our task transcends data manipulation; it's a voyage to uncover anime's most sought-after and highly rated gems. We handpick titles, popularity scores, and user ratings to spotlight the shows that have captured the hearts of audiences. This mission is about acknowledging the powerful connection between popularity and quality in the world of anime. We strive to showcase the series that have not only garnered a massive following but have also earned commendable scores. By unveiling the top 10, we invite fans and enthusiasts to delve into these remarkable stories, sparking discussions about what makes an anime truly exceptional.

In [8]:
%%sql
SELECT`Title`, `Popularity`, `Score` from anime where `Score` != 0 ORDER BY `Popularity`DESC LIMIT 10

 * mysql+pymysql://b45154a3:***@localhost/b45154a3
10 rows affected.

[('Zuoshou Shanglan', 20349, Decimal('6.45')),
 ('Zui Ke Ai De Ren (Movie)', 20348, Decimal('6.45')),
 ('Zui Ke Ai De Ren', 20347, Decimal('6.45')),
 ('Zoku Zou no Senaka: Baton Touch', 20346, Decimal('6.45')),
 ('Zhongkui Chuanqi: Sui Han Sanyou', 20345, Decimal('6.45')),
 ('Zhonghua Xun Lixian Ji', 20344, Decimal('6.45')),
 ('Zhonghua Meide', 20343, Decimal('6.45')),
 ('Zhonghua Chuanshuo Meide Gushi', 20342, Decimal('6.45')),
 ('Zhongguo Nanhai: Hong Zhanhui', 20341, Decimal('6.45')),
 ('Zhongdian Fuzi', 20340, Decimal('6.45'))]

### Task 6: Celebrating Short-Form Anime Brilliance.
Beyond data manipulation, our task is an homage to the captivating world of single-episode anime. We carefully select titles, considering both popularity and user ratings, to showcase the finest examples of concise storytelling. This endeavor shines a spotlight on the remarkable quality that these compact narratives can deliver. It's about recognizing the artistry and creativity that thrives within the constraints of a single episode. By unveiling the top 10, we invite fans to explore these bite-sized masterpieces and spark conversations about the art of telling a compelling story in a limited timeframe.

In [9]:
%%sql
SELECT`Title`, `Popularity`, `Score`,`Episodes` from anime where `Episodes` = 1 AND `Score` != 0 ORDER BY `Popularity`DESC LIMIT 10

 * mysql+pymysql://b45154a3:***@localhost/b45154a3
10 rows affected.

[('Zui Ke Ai De Ren (Movie)', 20348, Decimal('6.45'), '1'),
 ('Zoku Zou no Senaka: Baton Touch', 20346, Decimal('6.45'), '1'),
 ('Zhongkui Chuanqi: Sui Han Sanyou', 20345, Decimal('6.45'), '1'),
 ('Zang Ling Wangzhixue Yu Jingling', 20333, Decimal('6.45'), '1'),
 ('Yuukei', 20328, Decimal('6.45'), '1'),
 ('Yu Shi', 20321, Decimal('6.45'), '1'),
 ('Youmiao', 20317, Decimal('6.45'), '1'),
 ('You Yao Qi Guanggao Pian: Gao Neng Qi Chuang Zhuang Tai Jia', 20313, Decimal('6.45'), '1'),
 ('Yong Zhi Cheng', 20309, Decimal('6.45'), '1'),
 ('Yingxiong Jangar: Xunbao Ji', 20307, Decimal('6.45'), '1')]

### Task 7: Elevating Multi-Episode Anime Excellence.
This task goes beyond data manipulation; it's a celebration of the depth and quality found in multi-episode anime. We meticulously curate titles, taking into account popularity and user ratings, to spotlight the cream of the crop. Our aim is to recognize the storytelling and artistic brilliance that thrives in longer anime series. This mission encourages viewers to explore the intricate plots, character development, and world-building that these multi-episode marvels offer. As we unveil the top 10, we invite enthusiasts to engage with these expansive narratives and ignite discussions about the diversity and innovation within the realm of longer anime series.

In [10]:
%%sql
SELECT`Title`, `Popularity`, `Score`,`Episodes` from anime where `Episodes` > 1 AND `Score` != 0 ORDER BY `Popularity`DESC LIMIT 10

 * mysql+pymysql://b45154a3:***@localhost/b45154a3
10 rows affected.

[('Zuoshou Shanglan', 20349, Decimal('6.45'), '13'),
 ('Zui Ke Ai De Ren', 20347, Decimal('6.45'), '14'),
 ('Zhonghua Xun Lixian Ji', 20344, Decimal('6.45'), '26'),
 ('Zhonghua Meide', 20343, Decimal('6.45'), '99'),
 ('Zhonghua Chuanshuo Meide Gushi', 20342, Decimal('6.45'), '39'),
 ('Zhongguo Nanhai: Hong Zhanhui', 20341, Decimal('6.45'), '12'),
 ('Zhongdian Fuzi', 20340, Decimal('6.45'), '26'),
 ('Zhishi Laoren', 20339, Decimal('6.45'), '40'),
 ('Zhihui Zidan Che', 20338, Decimal('6.45'), '52'),
 ('Zhengyi Xiao Tu Jing', 20337, Decimal('6.45'), '120')]

### Task 8: Spotlighting Anime's Unique Zero-Episode Marvels.
Beyond data manipulation, our mission is to unveil the remarkable world of anime with zero episodes. We curate titles, scores, and this unconventional episode count to showcase an intriguing category within the anime universe. Our goal is to acknowledge the creative endeavors that challenge traditional storytelling, igniting the audience's imagination with their brevity. This endeavor is about celebrating the artistry and innovation of anime that transcends episode conventions. By revealing the top 10, we invite fans to explore these unique creations, sparking discussions on how storytelling in anime can be both unconventional and captivating.

In [11]:
%%sql
SELECT`Title`, `Score`,`Episodes` from anime where `Episodes` =  0  or `Episodes` = "Unkown" ORDER BY `Score`DESC LIMIT 10

 * mysql+pymysql://b45154a3:***@localhost/b45154a3
10 rows affected.

[('One Piece', Decimal('8.64'), 'Unknown'),
 ('Holo no Graffiti', Decimal('8.37'), 'Unknown'),
 ('Komi-san wa, Comyushou desu. 2nd Season', Decimal('8.28'), 'Unknown'),
 ('Detective Conan', Decimal('8.16'), 'Unknown'),
 ('Ao Ashi', Decimal('7.85'), 'Unknown'),
 ('Kaede to Suzu The Animation', Decimal('7.78'), 'Unknown'),
 ('Crayon Shin-chan', Decimal('7.75'), 'Unknown'),
 ('Garden: Takamine-ke no Nirinka - The Animation', Decimal('7.74'), 'Unknown'),
 ('Doraemon (2005)', Decimal('7.61'), 'Unknown'),
 ('Fate/Grand Order', Decimal('7.51'), 'Unknown')]

### Task 9: Exploring Comedy in Extended Anime Narratives.
Our task transcends data manipulation; it's a journey into the world of comedy in multi-episode anime. We meticulously select titles, scores, episodes, and genres, focusing on the laughter-inducing genre of comedy. This mission seeks to shine a spotlight on the laughter-rich narratives that evolve over multiple episodes. It's about celebrating the humor, character dynamics, and storytelling that flourish in longer anime series with a comedic touch. As we unveil the top 10, we invite fans to delve into these entertaining and laughter-infused stories, sparking discussions on the art of sustaining humor over extended narratives in the anime world.

In [3]:
%%sql
SELECT`Title`, `Score`,`Episodes` , `Genres` from anime where `Episodes` !=  1  AND `Genres` LIKE "%Comedy%" ORDER BY `Score`DESC LIMIT 10

 * mysql+pymysql://b45154a3:***@localhost/b45154a3
10 rows affected.

[('Spy x Family', Decimal('9.08'), '12', 'Action,Comedy'),
 ('Gintama°', Decimal('9.08'), '51', 'Action,Comedy,Sci-Fi'),
 ("Gintama'", Decimal('9.05'), '51', 'Action,Comedy,Sci-Fi'),
 ("Gintama': Enchousen", Decimal('9.04'), '13', 'Action,Comedy,Sci-Fi'),
 ('Kaguya-sama wa Kokurasetai: Ultra Romantic', Decimal('8.99'), '12', 'Comedy,Suspense'),
 ('Gintama.', Decimal('8.99'), '12', 'Action,Comedy,Sci-Fi'),
 ('Gintama', Decimal('8.95'), '201', 'Action,Comedy,Sci-Fi'),
 ('Owarimonogatari 2nd Season', Decimal('8.90'), '7', 'Comedy,Mystery,Supernatural'),
 ('Gintama.: Shirogane no Tamashii-hen - Kouhan-sen', Decimal('8.88'), '14', 'Action,Comedy,Sci-Fi'),
 ('Gintama.: Shirogane no Tamashii-hen', Decimal('8.81'), '12', 'Action,Comedy,Sci-Fi')]

### Task 10: Quest for Anime's Pinnacle.
Beyond data manipulation, our mission is a journey to uncover the highest-rated anime. We select titles, focusing on the top scores, to identify the crown jewel of the anime world. This task is about recognizing and celebrating the artistry and storytelling that have earned the highest acclaim from audiences. It's an opportunity to shed light on the creations that have touched hearts and set a standard for excellence. By unveiling the top-rated anime, we invite fans to explore these exceptional stories, sparking conversations about what makes these titles truly exceptional.

In [5]:
%%sql
SELECT`Title`, `Score` as top_score from anime where  `Score` = (SELECT MAX(`Score`) from anime)

 * mysql+pymysql://b45154a3:***@localhost/b45154a3
1 rows affected.

[('Fullmetal Alchemist: Brotherhood', Decimal('9.14'))]

### Task 11: Unveiling Anime's Hidden Gems.
Our mission goes beyond data manipulation; it's a quest to reveal the anime world's lesser-known treasures. We select titles with the lowest scores, acknowledging that even amidst the diversity of anime, there are unique and underrated gems. This task is about recognizing the creativity and efforts put into these stories, often overshadowed by more prominent titles. It's an opportunity to shine a light on these hidden narratives that hold their own charm and appeal. By unveiling the lowest-rated anime, we invite fans to explore these underappreciated stories, sparking discussions about the diverse spectrum of anime and what makes each title special in its own way.

In [6]:
%%sql
SELECT`Title`, `Score` as top_score from anime where  `Score` = (SELECT MIN(`Score`) from anime where `Score`> 0)

 * mysql+pymysql://b45154a3:***@localhost/b45154a3
1 rows affected.

[('Tenkuu Danzai Skelter+Heaven', Decimal('1.84'))]

### Task 12: Unraveling the Tapestry of Multi-Episode Anime.
Our task extends beyond data manipulation; it's a voyage into the intricate web of multi-episode anime. We gather information on episode counts and the number of titles to understand the landscape of longer narratives. This mission is about recognizing the diversity in episode lengths and the preferences of anime creators and audiences. It's an opportunity to unravel the patterns that emerge from this analysis, shedding light on the rich tapestry of multi-episode anime. By showcasing the top 10 episode counts, we invite enthusiasts to explore the variations in storytelling lengths, sparking discussions about the depth and breadth of narrative possibilities in the anime world.

In [2]:
%%sql
SELECT`Episodes`, COUNT(`Title`) as no_of_animes from anime GROUP BY`Episodes` HAVING `Episodes` >1 ORDER BY  no_of_animes desc limit 10

 * mysql+pymysql://b45154a3:***@localhost/b45154a3
10 rows affected.

[('12', 1674),
 ('2', 1451),
 ('13', 873),
 ('26', 823),
 ('3', 662),
 ('4', 500),
 ('52', 435),
 ('6', 372),
 ('24', 289),
 ('10', 260)]